
<div id=animeB>

    <img id="b40" class="bonhomme" src="../assets/bh/t40.png" alt="animation">
    <img id="b35" class="bonhomme" src="../assets/bh/t35.png" alt="animation">
    <img id="b30" class="bonhomme" src="../assets/bh/t30.png" alt="animation">
    <img id="b25" class="bonhomme" src="../assets/bh/t25.png" alt="animation">
    <img id="b20" class="bonhomme" src="../assets/bh/t20.png" alt="animation">
    <img id="b15" class="bonhomme" src="../assets/bh/t15.png" alt="animation">
    <img id="b10" class="bonhomme" src="../assets/bh/t10.png" alt="animation">

</div>