<div id="container" class="block">
    <div id="contain1">
        <h3 id="title1">FORMATIONS</h3>
        <div id="formation">
            <ul class="pathUl">
                <li class="pathLi shadow" (click)="notHover(0)">
                    <div>
                        <p class="contentLeft content formDate">2021 - 2022</p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content contentTop">Web development formation, AFPA La valette (in progress).</p>
                    </div>
                </li>
                <li class="pathLi shadow" (click)="notHover(1)">
                    <div>
                        <p class="contentLeft content formDate">2021</p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content">Completion Pre-qualifying formation "Parcours Tremplin Numérique" 800h (Toulon).</p>
                    </div>
                </li>
                <li class="pathLi shadow" (click)="notHover(2)">
                    <div>
                        <p class="contentLeft content formDate">2020</p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content">E2C (professional insersion support organization, La Garde).</p>
                    </div>
                </li>
                <li class="pathLi shadow" (click)="notHover(3)">
                    <div>
                        <p class="contentLeft content formDate">2018 - 2020</p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content">Second degree in various courses of mathematics, Aix-Marseille University (not obtained).</p>
                    </div>
                </li>
                <li class="pathLi shadow" (click)="notHover(4)">
                    <div>
                        <p class="contentLeft content formDate">2017</p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content">Validation first degree Mathematique- Computer scince, Aix-Marseille University.</p>
                    </div>
                </li>
                <li class="pathLi shadow" (click)="notHover(5)">
                    <div>
                        <p class="contentLeft content formDate">2015 - 2016</p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content">PACES - First Common Year of Health Studies, Aix-Marseille University (not obtained).</p>
                    </div>
                </li>
                <li class="pathLi shadow" (click)="notHover(6)">
                    <div>
                        <p class="contentLeft content formDate">2014</p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content contentBottom">Obtained General Baccalaureate in Science, Maintenon high school (Hyères).</p>
                    </div>
                </li>
            </ul> 
        </div>
    </div>
    <div id="contain2">
        <h3 id="title2">WORK EXPERIENCES</h3>
        <div id="exp">
            <ul class="pathUl">
                <li class="pathLi shadow" (click)="notHover(7)">
                    <div>
                        <p class="contentLeft content expDate" id="expDate1">october 2021 - <span id="tooLongS">2 weeks</span></p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content contentTop">Internship, administrative operations - Hyères Town Hall (Var).</p>
                    </div>
                </li>
                <li class="pathLi shadow" (click)="notHover(8)">
                    <div>
                        <p class="contentLeft content expDate" id="expDate2">july-august 2012 - 6 seasons</p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content contentBottom">Pharmacy order preparer - Pharmacy of Porto (Ota - Corse).</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>