<div id="container" class="block">
    <div id="projectsDiv">
        <h3 id="title1">PROJECTS</h3>

        <ul id="projUl">

            <li class="projLi shadow" (click)="tictactoe()">
                <span class="toBoldAndLine">Tic-Tac-Toe</span>: <span class="toIta">[solo project; JAVA]</span> a game
                of tic-tac-toe containing 3 grids (3x3, 4x4, 3x3x3) and 3 difficulty levels.<br>
                <span class="alinea"></span>Functional in the terminal, graphical interface in development.
            </li>

            <li class="projLi shadow" (click)=longestword()>
                <span class="toBoldAndLine">Longestword</span>: <span class="toIta">[group project; JAVA]</span> a game
                where you have to find the longest word with a given set of letters. Playable in the terminal thanks to
                an integrated dictionary.
            </li>

            <li class="projLi shadow" (click)=calculette()>
                <span class="toBoldAndLine">Calculator</span>: <span class="toIta">[group project; JAVA]</span> a
                calculator created based on abstract classes.
            </li>

            <li class="projLi shadow" (click)=mastermind()>
                <span class="toBoldAndLine">Mastermind</span>: <span class="toIta">[solo project; C]</span> a small
                mastermind in the terminal.
            </li>

            <li class="projLi shadow" id="wix" (click)=wix()>
                <span class="toBoldAndLine">Web site</span>: <span class="toIta">[group project; without
                    programming]</span> a site presenting our session at the 'parcours tremplin numérique'.<br>
                <span class="alinea"></span>Made with WIX.
            </li>

            <li class="projLi shadow" (click)=beta()>
                <span class="toBoldAndLine">Web site</span>: <span class="toIta">[solo project; HTML/CSS/Java
                    Script]</span> the beta version of this site without framework.
            </li>

            <li class="projLi shadow" (click)=that()>
                <span class="toBoldAndLine">Web site</span>: <span class="toIta">[solo project; HTML/SASS/Type
                    Script]</span> this site.<br>
                <span class="alinea"></span>Made with Angular et Figma.
            </li>

        </ul>
    </div>
</div>