<div id="container" class="block">
    <div id="projectsDiv">
        <h3 id="title1">PROJETS</h3>

        <ul id="projUl">

            <li class="projLi shadow" (click)="tictactoe()">
                <span class="toBoldAndLine">Tic-Tac-Toe</span>: <span class="toIta">[projet
                    solo; JAVA]</span> un jeu de morpion contenant 3 grilles (3x3, 4x4, 3x3x3) et 3 niveau de
                difficulté.<br>
                <span class="alinea"></span>Fonctionnel dans le terminal, interface graphique en développement.
            </li>

            <li class="projLi shadow" (click)=longestword()>
                <span class="toBoldAndLine">Longestword</span>: <span class="toIta">[projet de
                    groupe; JAVA]</span> un jeu style 'des chiffre et des lettres' sans les chiffres. Jouable dans le terminal grâce à
                un dictionnaire intégré.
            </li>

            <li class="projLi shadow" (click)=calculette()>
                <span class="toBoldAndLine">Calculator</span>: <span class="toIta">[projet de
                    groupe; JAVA]</span> une calculatrice crée en se basant sur des classes abstraites.
            </li>

            <li class="projLi shadow" (click)=mastermind()>
                <span class="toBoldAndLine">Mastermind</span>: <span class="toIta">[projet
                solo; C]</span> un petit mastermind dans le terminal.
            </li>

            <li class="projLi shadow" id="wix" (click)=wix()>
                <span class="toBoldAndLine">Site Internet</span>: <span class="toIta">[projet
                    de groupe; sans programmation]</span> un site présentant notre session au parcours tremplin
                numérique.<br>
                <span class="alinea"></span>Réalisé avec WIX.
            </li>

            <li class="projLi shadow" (click)=beta()>
                <span class="toBoldAndLine">Site Internet</span>: <span class="toIta">[projet
                    solo; HTML/CSS/Java Script]</span> la version beta de ce site sans framework.
            </li>

            <li class="projLi shadow" (click)=that()>
                <span class="toBoldAndLine">Site Internet</span>: <span class="toIta">[projet
                    solo; HTML/SASS/Type Script]</span> ce site.<br>
                <span class="alinea"></span>Réalisé avec Angular et Figma.
            </li>
 
        </ul>
    </div>
</div>