<div id="container" class="block">
    <h3 id="title1">LANGUAGE LEARNED</h3>

    <div id="langDiv">
        <div id="c" class="langColumn" (click)="notHover(0)">

            <img class="langIcon" src="../assets/images/c.png" alt="C">

            <div id="cHello" class="hello">
                <p>
                    #include &lt;stdio.h&gt;<br>
                    <br>
                    int main&#40;&#41; &#123;<br>
                    <span class="alinea"></span>printf&#40;&quot;Hello World!&quot;&#41;;<br>
                    <span class="alinea"></span>return 0;<br>
                    &#125;
                </p> 
            </div>

            <p class="langP shadow">C</p>
        </div>

        <div id="java" class="langColumn" (click)="notHover(1)">
            <img class="langIcon" src="../assets/images/java.png" alt="JAVA">

            <div id="javaHello" class="hello">
                <p>
                    public class HelloWorld &#123;<br>
                    <span class="alinea"></span>public static void main&#40;String []args&#41; &#123;<br>
                    <span class="alinea"></span> <span class="alinea"></span>System.out.println&#40;&quot;Hello
                    World&quot;&#41;;<br>
                    <span class="alinea"></span>&#125;<br>
                    &#125;
                </p>
            </div>

            <p class="langP shadow">JAVA</p>
        </div>

        <div id="html" class="langColumn" (click)="notHover(2)">
            <img class="langIcon" src="../assets/images/html.png" alt="HTML">

            <div id="htmlHello" class="hello">
                <p>
                    &lt;!DOCTYPE html&gt;<br>
                    &lt;html lang=&quot;en&quot;&gt;<br>
                    <span class="alinea"></span>&lt;head&gt;<br>
                    <span class="alinea"></span><span class="alinea"></span>&lt;meta charset=&quot;UTF-8&quot;&gt;<br>
                    <span class="alinea"></span><span class="alinea"></span>&lt;title&gt;Hello World&lt;/title&gt;<br>
                    <span class="alinea"></span>&lt;/head&gt;<br>
                    <span class="alinea"></span>&lt;body&gt;<br>
                    <span class="alinea"></span><span class="alinea"></span>&lt;h1&gt;Hello World!&lt;/h1&gt;<br>
                    <span class="alinea"></span>&lt;/body&gt;<br>
                    &lt;/html&gt;
                </p>
            </div>

            <p class="langP shadow">HTML</p>
        </div>

        <div id="css" class="langColumn" (click)="notHover(3)">
            <img class="langIcon" src="../assets/images/css.png" alt="CSS">

            <div id="cssHello" class="hello">
                <p>
                    &lt;style&gt;<br>
                    <span class="alinea"></span>body:before&#123;<br>
                    <span class="alinea"></span><span class="alinea"></span>content: &quot;Hello Word!&quot;;<br>
                    <span class="alinea"></span>&#125;<br>
                    &lt;/style&gt;
                </p>
            </div>

            <p class="langP shadow">CSS</p>
        </div>

        <div id="js" class="langColumn" (click)="notHover(4)">
            <img class="langIcon" src="../assets/images/javascript.png" alt="JavaScript">

            <div id="jsHello" class="hello">
                <p>
                    &lt;script&gt;<br>
                    <span class="alinea"></span>alert&#40;&quot;Hello World!&quot;&#41;;<br>
                    &lt;/script&gt;
                </p>
            </div>

            <p class="langP shadow">Java Script</p>
        </div>

        <div id="sass" class="langColumn" (click)="notHover(5)">
            <img class="langIcon" src="../assets/images/sass.png" alt="sass">

            <div id="sassHello" class="hello">
                <p>
                    $quote: &quot;Hello World&quot;<br>
                    #helloBox::before<br>
                        <span class="alinea"></span>content: $quote
                </p>
            </div>

            <p class="langP shadow">SASS</p>
        </div>

        <div id="ts" class="langColumn" (click)="notHover(6)">
            <img class="langIcon" src="../assets/images/typescript.png" alt="typescript">

            <div id="tsHello" class="hello">
                <p>
                    var message:string = &quot;Hello World!&quot; ;<br>
                    console.log&#40;message&#41;;
                </p>
            </div>

            <p class="langP shadow">Type Script</p>
        </div>
    </div>
</div>