<div id="container" class="block">
    <h3 id="title1">INFORMATIONS COMPLEMENTAIRES</h3>
    <div id="skillsDiv">
        <div id="skillGlobal">
            <h3 id="title 5"><span class="alinea"></span>COMPÉTENCES <span class="alinea2">GLOBALES</span></h3>
            <div id="globalDiv">
                <div id="qualityDiv">
                    <ul class="qualityPart">
                        <li class="s3Li shadow">Organisation</li>
                        <li class="s3Li shadow">Rigueur</li>
                        <li class="s3Li shadow">Autonomie</li>
                    </ul>

                    <ul class="qualityPart">
                        <li class="s3Li shadow">Curiosité</li>
                        <li class="s3Li shadow">Passion</li>
                        <li class="s3Li shadow">Patience</li>
                    </ul>
                </div>

                <div id="otherSkill">
                    <div>
                        <p class="otherSkDescript" id="title2">Bureautique:</p>

                        <div class="otherColumn">
                            <img class="otherSkIcon image" src="../assets/images/office.png" alt="Office">

                            <p class="otherSkP">Pack Office</p>
                        </div>
                    </div>
 
                    <div>
                        <p class="otherSkDescript" id="title3">Edition d'images:</p>

                        <div class="otherColumn">
                            <img class="otherSkIcon image" src="../assets/images/paintnet.png" alt="Paint.net">

                            <p class="otherSkP">Paint.Net</p>
                        </div>

                        <div class="otherColumn">
                            <img class="otherSkIcon image" src="../assets/images/gimp.png" alt="Gimp">

                            <p class="otherSkP">Gimp</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="hobby">
            <h3 id="title4"><span class="alinea"></span>LOISIRS</h3>
            <div id="hobbyDiv">
                <div>
                    <img class="hobbies image" src="../assets/images/ecritW.png" alt="écriture">
                </div>
                <div>
                    <img class="hobbies image" src="../assets/images/handW.png" alt="écriture">
                </div>
                <div>
                    <img class="hobbies image" src="../assets/images/lectW.png" alt="écriture">
                </div>
            </div>
        </div>

        <!-- <div id="english">
            <h3>LANGUES</h3>
            <div id="engDiv">
                <div></div>
                <div id="engColumn">
                    <p class="engP shadow">Anglais</p>

                </div>
                <div id="engColumn">
                    <p class="engP shadow">Très bonne compréhension écrite</p>
                    <p class="engP shadow">Compréhension orale notable</p>
                </div>
            </div>
        </div> -->
    </div>
</div>