<div id="container" class="block">
    <h3>SOFTWARE USED</h3>

    <div id="logDiv">
        <div class="logPart">

            <div class="logRow">
                <img class="logIcon" src="../assets/images/intelliJ.png" alt="IntelliJ">
                <p class="logP shadow">IntelliJ</p>
            </div>

            <div class="logRow">
                <img class="logIcon" src="../assets/images/netBeans.png" alt="NetBeans">
                <p class="logP shadow">NetBeans</p>
            </div>

            <div class="logRow">
                <img id="tooLong" class="logIcon" src="../assets/images/visualStudioCode.png" alt="Visual Studio Code">
                <p class="logP shadow">Visual Studio Code</p>
            </div>

            <div class="logRow">
                <img class="logIcon" src="../assets/images/eclipse.png" alt="Eclipse">
                <p class="logP shadow">Eclipse</p>
            </div>

            <div class="logRow">
                <img class="logIcon" src="../assets/images/atom.png" alt="Atom">
                <p class="logP shadow">Atom</p>
            </div>
        </div>

        <div class="logPart">
            <div class="logRow">
                <img class="logIcon" src="../assets/images/angular.png" alt="Angular">
                <p class="logP shadow">Angular</p>
            </div>

            <div class="logRow">
                <img id="gitBlack" class="logIcon" src="../assets/images/githubB.png" alt="Github">
                <p class="logP shadow">Github</p>
            </div>

            <div class="logRow">
                <img class="logIcon" src="../assets/images/sublimText3.png" alt="Sublim Text 3">
                <p class="logP shadow">Sublime Text 3</p>
            </div>

            <div class="logRow">
                <img class="logIcon" src="../assets/images/figma.png" alt="Figma">
                <p class="logP shadow">Figma</p>
            </div>
        </div>
    </div>
</div>