<div id="container" class="block">
    <div id="contain1">
        <h3 id="title1">FORMATIONS</h3>
        <div id="formation">
            <ul class="pathUl">
                <li class="pathLi shadow" (click)="notHover(0)">
                    <div>
                        <p class="contentLeft content formDate">2021 - 2022</p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content contentTop">Formation de developpeur web, AFPA La valette (en cours).</p>
                    </div>
                </li>
                <li class="pathLi shadow" (click)="notHover(1)">
                    <div>
                        <p class="contentLeft content formDate">2021</p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content">Complétion Formation pré-qualifiante Parcours Tremplin
                            Numérique 800h (Toulon).</p>
                    </div>
                </li>
                <li class="pathLi shadow" (click)="notHover(2)">
                    <div>
                        <p class="contentLeft content formDate">2020</p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content">E2C (organisme <span id="tooLongAc">d'accompagnement</span> à l'insersion professionnel, La
                            Garde).</p>
                    </div>
                </li>
                <li class="pathLi shadow" (click)="notHover(3)">
                    <div>
                        <p class="contentLeft content formDate">2018 - 2020</p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content">Licence 2 dans divers parcours de <span id="tooLongM">mathématique,</span> Aix-Marseille
                            Université (non obtenue).</p>
                    </div>
                </li>
                <li class="pathLi shadow" (click)="notHover(4)">
                    <div>
                        <p class="contentLeft content formDate">2017</p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content">Validation Licence 1 <span id="tooLongMI">Mathématique-Informatique,</span>
                            Aix-Marseille Université.</p>
                    </div>
                </li>
                <li class="pathLi shadow" (click)="notHover(5)">
                    <div>
                        <p class="contentLeft content formDate">2015 - 2016</p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content">PACES - Première Année Commune aux Études de Santé,
                            Aix-Marseille Université (non obtenue).</p>
                    </div>
                </li>
                <li class="pathLi shadow" (click)="notHover(6)">
                    <div>
                        <p class="contentLeft content formDate">2014</p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content contentBottom">Obtention Baccalauréat général Scientifique, lycée Maintenon
                            (Hyères).</p>
                    </div>
                </li>
            </ul> 
        </div>
    </div>
    <div id="contain2">
        <h3 id="title2">EXPÉRIENCES PROFESSIONNELLES</h3>
        <div id="exp">
            <ul class="pathUl">
                <li class="pathLi shadow" (click)="notHover(7)">
                    <div>
                        <p class="contentLeft content expDate" id="expDate1">octobre 2021 - <span id="tooLongS">2 semaines</span></p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content contentTop">Stage, Opérations <span id="tooLongAd">administratives</span> - Mairie de Hyères (Var).</p>
                    </div>
                </li>
                <li class="pathLi shadow" (click)="notHover(8)">
                    <div>
                        <p class="contentLeft content expDate" id="expDate2">juil-août 2012 - 6 saisons</p>
                    </div>
                    <div class="liContent">
                        <p class="contentRight content contentBottom">Rayonniste-Préparateur de commandes - Pharmacie de Porto (Ota -
                            Corse).</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>