<div id="side">
    <a href="https://github.com/error404LikeAnArson?tab=repositories">
        <div>
            <img id="gitWhite" class="image" src="../assets/images/githubW.png" alt="Github">
        </div>
    </a>


    <div>
        <img id="linkedin" class="image" src="../assets/images/linkedin.png" alt="linkedin">
    </div>


    <div id="flagContainer">
        <div class="flagDiv" (click)="langFR()">
            <img id="frFlag" class="image flag" src="../assets/images/fr_icon.png" alt="lang=fr">
        </div>
        <div class="flagDiv" (click)="langEN()">
            <img id="enFlag" class="image flag" src="../assets/images/en_icon.png" alt="lang=eng">
        </div> 
    </div>
</div>